/* Contenedor principal */
.servicios-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .servicios-title {
    text-align: center;
    font-size: 50px;
    color: #02819e;
    margin-bottom: 20px;
  }
  
  .servicios-description {
    text-align: center;
    font-size: 18px; /* Tamaño de la fuente de la descripción principal */
    margin-bottom: 50px;
  }
  
  .servicios-accordion {
    margin: 0 auto;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .card-text {
    flex: 1;
    padding: 20px;
    font-size: 17px;
    color: #000000;
    text-align: justify;
  }
  
  .card-image {
    flex: 1;
    padding: 20px;
  }
  
  .card-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .accordion-button {
    font-size: 1em;
    color: #34495e;
  }
  
  .accordion-body {
    font-size: 1.1em;
    color: #7f8c8d;
  }
  
  /* Estilo específico para la descripción dentro del acordeón */
  .service-description {
    font-size: 25px; /* Tamaño de la fuente más grande */
    color: #02819e;
    font-weight: 700;
    text-align: center;
  }