.header-container {
    font-family: "Roboto Mono", monospace;
    background-color: #041b2d;
    padding: 20px 64px; /* Reducir el padding para evitar que ocupe demasiado espacio */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(4, 27, 45, 0.2);
    position: sticky; /* Mantener el header en la parte superior */
    top: 0; /* Fijar en la parte superior */
    z-index: 1000; /* Asegurarse de que el header esté por encima de otros elementos */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.header-container.show {
    opacity: 1; /* Header visible */
}

.ref-container {
    display: flex;
    align-items: center;
    gap: 10vw;
}

.ref-span {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 16px;
    text-align: center;
}

.ref-span:hover {
    color: #18c7c9;
    font-weight: 700;
    border-bottom: 1px solid #18c7c9;
    border-top: 1px solid #18c7c9;
    text-align: center;
}

.title-header {
    font-weight: 700;
    color: #fff;
    font-size: 20px;

}

.btn-contact {
    font-family: "Roboto Mono", monospace;
    background-color: #18c7c9;
    border: 2px solid #18c7c9;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 0px 20px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-contact:hover {
    background-color: transparent;
    color: #18c7c9;
    font-weight: 700;
}

.img-title-container {
    display: flex;
    align-items: center;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out; 
}

.img-title-container:hover {
    transform: scale(1.05); 
}

.img-uvol {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.title-header {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease-in-out; 
}

.img-title-container:hover .title-header {
    color: #18c7c9; 
    font-weight: 900;
}
.ok {
    text-decoration: none;
}